<?xml version="1.0" encoding="UTF-8"?>
<!--

    Sonatype Nexus (TM) Open Source Version
    Copyright (c) 2007-2012 Sonatype, Inc.
    All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.

    This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
    which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.

    Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
    of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
    Eclipse Foundation. All other trademarks are the property of their respective owners.

-->
<configuration>
<!-- always a good activate OnConsoleStatusListener -->
<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>logs/nexus-ga.log</file>
  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    <fileNamePattern>logs/nexus-ga.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
  </rollingPolicy>

  <encoder>
    <pattern>combined</pattern>
    <!--<pattern>%date %h %u "%i{Referer}" "%i{User-Agent}"</pattern>-->
  </encoder>
</appender>

<appender-ref ref="FILE"/>
</configuration>
